.container {
  width: 500px;
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  margin: 0;
}

.container h1 {
  text-align: center;
  font-weight: bolder;
  font-family: fantasy;
  margin-top: -15px;
}

.delete-buttons {
  float: right;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  border: 0;
  background-color: red;
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
}

.title-author {
  height: 50px;
}

#bookContainer {
  border: black solid 2px;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

#bookContainer div {
  padding: 8px 20px;
}

#bookContainer div:nth-child(even) {
  background-color: #ddd;
}

#form-title {
  margin-top: background-image: url("https://picsum.photos/id/598/600/400");0px;
}

#book-form {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

#book-title {
  width: 250px;
  padding: 4px;
  margin-bottom: 10px;
  border: #777 solid 1px;
  border-radius: 8px;
}

#author {
  width: 250px;
  padding: 4px;
  margin-bottom: 10px;
  border: #777 solid 1px;
  border-radius: 8px;
}

.form-btn {
  float: right;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  border: 0;
  background-color: green;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 18px;
}

#nav-container {
  background-color: gray;
  margin-top: 0;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

#nav-container h2 {
  line-height: 50px;
  font-size: 28px;
}

#nav-links {
  display: flex;
  flex-direction: row;
}

#nav-links li {
  list-style-type: none;
  padding: 0 20px;
}

.hide {
  display: none;
}

a {
  cursor: pointer;
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(24, 194, 24)
}

footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: gray;
  width: 100%;
}

#contact-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#contact-container h1 {
  font-family: fantasy;
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
  margin-top: -14px;
}

#contact-container  p {
  font-size: 18px;
  font-family: sans-serif;
  word-spacing: 2px;
  margin: 7px;
}

#contact-container ul {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  padding-top: 10px;
}

#contact-container li {
  padding-bottom: 7px;
}

#currentDate {
  float: right;
  font-size: 20px;
  font-family: monospace;
  padding: 5px 7px;
}
